#container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#header {
    padding: 1rem;
    font-size: 5rem;
    display: flex;
    justify-content: space-between;
}
#menu {
    margin: 5px;
}
#slideTap {
    width: 50px;
    background-color: red;
}
#main {
    display: flex;
}
.videoItem {
    width: 22%;
    margin: 5px;
}

.videoItem h1 {
    margin: 0;
    font-size: 100%;
}
a {
    text-decoration: none;
    color: black;
}