body {
    text-align: left;
}
#headerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#headerInfo p {
    margin: 0px;
}
#videoHeader {
    justify-content: space-between;
}
#videoMain {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.genres {
    font-family: serif;
    font-style: italic;
}
img {
    width: 230px; 
}
#suggest {
    display: flex;
    flex-wrap: wrap;
}
#videoDesc {
    font-size: 1.5rem;
}
#like {
    width: 200px;
}