body {
    background-color: #f5f9fc;
    text-align: center;
}

.LoginPanel {
    display: inline-block;
    margin-top: 13rem;
}

#labels {
    text-align: left;
}

input {
    width: 100%;
    line-height: 1.2rem;
    outline: none;
}

.LoginBtn {
    display: block;
}
